In [2]:
#Task 1:There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

import pandas as pd
import numpy as np

# Creating the first dataframe 'Project DataFrame'
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 
                'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000,'   ', 680000, 400000, 350000, '    ', 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 
               'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

# Creating the second dataframe 'Employee DataFrame'
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

# Creating the third dataframe 'Seniority Level DataFrame'
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

# Display the dataframes
print("Project DataFrame:\n", project_df)
print("\nEmployee DataFrame:\n", employee_df)
print("\nSeniority Level DataFrame:\n", seniority_df)

Project DataFrame:
       ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished

Employee DataFrame:
      ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

Seniority Level DataFrame:
      ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [3]:
# Saving the 'Project DataFrame' to a CSV file
project_df.to_csv('project_dataframe.csv', index=False)

# Saving the 'Employee DataFrame' to a CSV file
employee_df.to_csv('employee_dataframe.csv', index=False)

# Saving the 'Seniority Level DataFrame' to a CSV file
seniority_df.to_csv('seniority_dataframe.csv', index=False)

In [18]:
# opening the 'Project DataFrame' we have saved
df1 = pd.read_csv('project_dataframe.csv')
df1

In [19]:
# opening the 'Employee DataFrame' we have saved
df2 = pd.read_csv('employee_dataframe.csv')
df2

In [20]:
# opening the 'Seniority DataFrame' we have saved
df3 = pd.read_csv('seniority_dataframe.csv')
df3

In [22]:
#Task 2
# Sample data (with NaN as missing values)
df1 = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 
                'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, np.nan, 800000, 300000, 2000000, np.nan, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 
               'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(df1)

# Iterating through the 'Cost' column to replace NaN values with running average
for i in range(len(project_df)):
    if pd.isnull(project_df.loc[i,'Cost']):
            project_df.loc[i, 'Cost'] = project_df['Cost'].iloc[:i].mean()
        
print(project_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  2.476071e+06    Failed
8   A001   Project 9  8.000000e+05   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  2.082597e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [23]:
#Task 3

# Splitting the name column
df2[['First Name', 'LastName']] = df2['Name'].str.split(' ', expand=True)

# Dropping the old name column
df2.drop(columns=['Name'], inplace=True)

print(df2)

     ID Gender     City  Age First Name   LastName
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [33]:
#Task 4:Join all three dataframes in one single dataframe. Name it “Final”

# Joining dataframes
Final = project_df.merge(df2, on='ID', how='outer').merge(df3, on='ID', how='outer')

print(Final)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   Project 9  8.000000e+05   Ongoing      M    Paris   25       John
2   A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   Project 8  2.476071e+06    Failed      M   Berlin   29        Tom
7   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  2.082597e+06   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

     LastName  Designation Level
0       Alter                  2
1       Alter                  2
2       Alter                  2
3   Luxumberg                  2
4   Luxumberg                  2
5   Sabestine                  3
6   Sabestine                  3
7   Sabestine                  3
8       Adgra                  2
9       Adgra                  2
10      Adgra                  2
11      Johny                  3
12      Johny                  3
13      Johny                  3

In [35]:
#Task5 

# Add a new 'Bonus' column based on the condition of the project status
Final['Bonus'] = Final.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Display the final dataframe with the new Bonus column
print(Final)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   Project 9  8.000000e+05   Ongoing      M    Paris   25       John
2   A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   Project 8  2.476071e+06    Failed      M   Berlin   29        Tom
7   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  2.082597e+06   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  2       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  2       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  3       0.0
7   Sabestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

In [36]:
#Task6 Demote the designation level by 1, whose projects have status “fail”. Delete the
#employees record whose designation level is above 4.

Final.loc[Final['Status'] == 'Failed', 'Designation Level'] -= 1

# Task 2: Delete the employee records whose designation level is above 4
Final = Final[Final['Designation Level'] <= 4]

# Display the final dataframe after performing both tasks
print(Final)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   Project 9  8.000000e+05   Ongoing      M    Paris   25       John
2   A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   Project 8  2.476071e+06    Failed      M   Berlin   29        Tom
7   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  2.082597e+06   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  2       0.0
7   Sabestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

In [37]:
#Task7: Add “Mr.” and “Mrs.” to the first name column and drop the gender column.


# Adding titles and dropping the gender column
Final['First Name'] = Final['First Name'].apply(lambda x: 'Mr. ' + x if Final.loc[Final['First Name'] == x, 'Gender'].values[0] == 'M' else 'Mrs. ' + x)
Final = Final.drop(columns=['Gender'])

print(Final)

      ID     Project          Cost    Status     City  Age  First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A001   Project 9  8.000000e+05   Ongoing    Paris   25    Mr. John
2   A001  Project 11  2.000000e+06    Failed    Paris   25    Mr. John
3   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
4   A002   Project 6  6.800000e+05    Failed   London   27  Mrs. Alice
5   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
6   A003   Project 8  2.476071e+06    Failed   Berlin   29     Mr. Tom
7   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  2.082597e+06   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  2       0.0
7   Sabestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

In [35]:
#Task8 :Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

# Update the designation level for employees whose age is more than 29
Final['Designation Level'] = Final['ID'].apply(
    lambda x: Final[Final['ID'] == x]['Designation Level'].values[0] + 1 
    if employee_df[employee_df['ID'] == x]['Age'].values[0] > 29 
    else Final[Final['ID'] == x]['Designation Level'].values[0]
)

print(Final)

      ID     Project          Cost    Status     City  Age  First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A001   Project 9  8.000000e+05   Ongoing    Paris   25    Mr. John
2   A001  Project 11  2.000000e+06    Failed    Paris   25    Mr. John
3   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
4   A002   Project 6  6.800000e+05    Failed   London   27  Mrs. Alice
5   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
6   A003   Project 8  2.476071e+06    Failed   Berlin   29     Mr. Tom
7   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  2.082597e+06   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  2       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  2       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  3       0.0
7   Sabestine                  3   15000.0
8       Adgra                  3       0.0
9       Adgra                  3       0.0
10      Adgra                  3  150000.0
11      Johny                  4  162525.0
12      Johny                  4   20000.0
13      Johny                  4   10000.0

In [38]:
#Task9:

# Sum the cost of all projects for each employee
total_cost = project_df.groupby('ID')['Cost'].sum().reset_index()

# Merge with the employee first name
TotalProjCost = pd.merge(total_cost, df2[['ID', 'First Name']], on='ID')

# Rename the columns as required
TotalProjCost.rename(columns={'Cost': 'Total cost'}, inplace=True)

# Final DataFrame
print(TotalProjCost)

     ID    Total cost First Name
0  A001  3.802000e+06       John
1  A002  2.680000e+06      Alice
2  A003  7.276071e+06        Tom
3  A004  1.058260e+07       Nina
4  A005  3.850500e+06        Amy

In [40]:
#Task10:Print all the employee details whose city name contains the letter “o” in it.

# Filter employee details where the City contains the letter "o"
employees_with_o = df2[df2['City'].str.contains('o', case=False)]

# Print the resulting DataFrame
print(employees_with_o)

     ID Gender     City  Age First Name   LastName
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra